@import url('https://googleapis.com');

/* misc styling starts here */
body, h1, p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    /* max-height: 100%; */
    object-fit: cover;
}

button {
    cursor: pointer;
}

.subtext {
    color: rgb(78, 78, 78);
}

.section-four, .footer {
     color: white;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color:#E5E7EB;
}

.dark-bg {
    background-color: #1F2937;
}

.sign-up-container, button {
    background-color: #3882F9;
    border-radius: 0.5cqw;
}

.sign-up-button {
    background-color: #3882F9;
    border: 3px solid white;
    min-width: 130px;
    min-height: 40px;
    font-size: larger;
    font-weight: bold;
    color: white;
}

/* styling for header starts here */
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    /* flex-grow: 1; */
}

.menu {
    display: flex;
    gap: 24px;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

/* styling for common attributes of header and hero */
.header, .section-one {
    /* border: 2px solid red; */
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
}

/* styling for hero (or section one) starts here */
.section-one {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 75px;
    gap: 100px;
}

.section-one .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.section-one button {
    align-self: flex-start;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* hero image placeholder */
.section-one .right {
    display: flex;
    /* border: 4px solid red; */
    width: 480px;
    height: 270px;

    background-color:rgb(97, 99, 99);
    color: white;

    justify-content: center;
    align-items: center;

    flex-shrink: 0;
    overflow: hidden;
}

/* styling for section two starts here */
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    min-height: 500px;
}

.section-two h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-family: inherit;
    font-weight: 1000;
    padding: 50px;
}

.content {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

/* information image placeholder */
.content img {
    border: 4px solid #3882F9;
    border-radius: 0.5cqw;
    width: 150px;
    height: 150px;
}

.section-two p {
    text-align: center;
}

/* styling for section three starts here */
.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB; 
    color: #1F2937;

    /* padding-top: 50px;
    padding-bottom: 50px; */

    min-height: 350px;
    gap: 20px;
}

.section-three h1 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin: 0;
}

.section-three p {
    /* border: 2px solid blue; */
    margin-left: auto;
    margin-right: 200px;

    font-size: 20px;
    font-weight: bolder;
}

/* styling section four starts here */
.section-four {
    display: flex;
    align-items: center;
    height: 350px;
}

.sign-up-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 200px;
    margin-right: 200px;

    padding-left: 100px;
    padding-right: 100px;

    flex-wrap: wrap;
    flex-grow: 1;
    
    min-height: 150px;
}

.sign-up-container .left {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 14px;
}

.sign-up-container h1 {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}